<%- include('../index/index.ejs') %>
      <main class="flex-auto h-screen w-full min-w-0">
        <header
          class="w-auto bg-white z-20 top-0 left-0 border-b border-gray-200"
        >
          <div class="flex justify-between items-center mx-auto p-4">
            <div class="flex items-center">
              <div class="mr-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-layout-dashboard"
                >
                  <rect width="7" height="9" x="3" y="3" rx="1"></rect>
                  <rect width="7" height="5" x="14" y="3" rx="1"></rect>
                  <rect width="7" height="9" x="14" y="12" rx="1"></rect>
                  <rect width="7" height="5" x="3" y="16" rx="1"></rect>
                </svg>
              </div>
              <span
                class="self-center text-2xl font-semibold whitespace-nowrap"
              >
                Dashboard
              </span>
            </div>
          </div>
        </header>

        <section class="overflow-y-auto h-5/6 my-5">
          <div
            class="py- px-4 mx-auto max-w-screen-xl lg:py-4 lg:px-5 flex justify-center items-center "
          >
            <!-- <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                  <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 ">Designed for business teams like yours</h2>
                  <p class="mb-5 font-light text-gray-500 sm:text-xl ">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
              </div> -->
            <div
              class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-10 lg:space-y-0"
            >
              <!-- Analysis Card -->
              <a
                href="#"
                data-modal-target="top-outgoing-product"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Outgoing Product</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"
                    ><%= topoutpro[0].productname %></span
                  >
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Product Name</th>
                      <th scope="col" class="px-2 py-2">Quantity out</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <% if(topoutpro.length>0){ topoutpro.forEach((item,index) => {%>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        <%= index+1 %>
                      </th>
                      <td class="px-2 py-2"><%= item.productname %></td>
                      <td class="px-2 py-2"><%= item.total %></td>
                    </tr>
                    <% });} %>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Incoming Product</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"
                    ><%= topinpro[0].productname %></span
                  >
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Product Name</th>
                      <th scope="col" class="px-2 py-2">Quantity In</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <% if(topinpro.length>0){ topinpro.forEach((item,index) => {%>
                      <tr class="">
                        <th
                          scope="row"
                          class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                        >
                          <%= index+1 %>
                        </th>
                        <td class="px-2 py-2"><%= item.productname %></td>
                        <td class="px-2 py-2"><%= item.total %></td>
                      </tr>
                      <% });} %>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">
                  Top Product Return
                </h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"><%= topreturn[0].productname%></span>
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Return Reason</th>
                      <th scope="col" class="px-2 py-2">Number of Returns</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <% if(topreturn.length>0){ topreturn.forEach((item,index) => {%>
                      <tr class="">
                        <th
                          scope="row"
                          class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                        >
                          <%= index+1 %>
                        </th>
                        <td class="px-2 py-2"><%= item.productname %></td>
                        <td class="px-2 py-2"><%= item.total %></td>
                      </tr>
                      <% });} %>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Sales By Customer</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"><%= topcus[0].customername %></span>
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Customer Name</th>
                      <th scope="col" class="px-2 py-2">Sales</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <% if(topcus.length>0){ topcus.forEach((item,index) => {%>
                      <tr class="">
                        <th
                          scope="row"
                          class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                        >
                          <%= index+1 %>
                        </th>
                        <td class="px-2 py-2"><%= item.customername %></td>
                        <td class="px-2 py-2"><%= item.total %></td>
                      </tr>
                      <% });} %>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Return by Customer</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"
                    ><%= topwarehouse[0].warehousename%></span
                  >
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                <thead class="text-xs text-gray-700 uppercase">
                  <tr>
                    <th scope="col" class="px-2 py-2">Rank</th>
                    <th scope="col" class="px-2 py-2">WareHouse Name</th>
                    <th scope="col" class="px-2 py-2">Orders</th>
                  </tr>
                </thead>
                  <tbody class="text-xs text-gray-700 uppercase">
                    <% if(topwarehouse.length>0){ topwarehouse.forEach((item,index) => {%>
                      <tr class="">
                        <th
                          scope="row"
                          class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                        >
                          <%= index+1 %>
                        </th>
                        <td class="px-2 py-2"><%= item.warehousename %></td>
                        <td class="px-2 py-2"><%= item.total_orders %></td>
                      </tr>
                      <% });} %>
                  </tbody>
                </table>
              </a>
            </div>
          </div>
        </section>
      </main>